<div class="directory-index-container">
  <div class="directory-actions-links">
    <div class="spacer"></div>
    <%= link_to new_directory_path, class: 'directory-index-return' do %>
    <div>
      <%= fa_icon 'plus' %>
      <span class="directory-button-text">Add folder</span>
    </div>
    <% end %>
  </div>
  <%= render 'list_dirs', locals: { directories: @directories } %>
</div>
