<div class="directory-index-container">
  <h1 class= 'text-center'>Create a new Directory :</h1>
  <%= render 'form', directory: @directory %>
  <div class="spacer"></div>
  <%= link_to "Back", directories_path, class: "directory-submit-back-button basic-button" %>
</div>
