<div class="directory-index-container">
  <% if @directory.parent %>
    <%= link_to "Parent folder", directory_path(@directory.parent), class: "directory-index-return" %>
  <% else %>
    <%= link_to "Parent folder", directories_path, class: "directory-index-return" %>
  <% end %>
  <%= render partial: 'list_dirs', locals: { directories: @directories } %>
  <%= render partial: 'assets/list_assets', locals: { directory: @directory } %>
</div>
