<h1>About</h1>
<p>
  This website was made as a weekend project to simplify file sharing among friends since
  other services like Google Drive and Dropbox don't offer the necessary storage space
  to save all our files.
</p>
