<h1 style="align-self: center;">Contact</h1>
<div style="text-align: center;">
<p>This website was made by Billy Bouchard and Simon Landry</p>
<p>For any comments or question you can message us at bolty-box@gmail.com</p>
</div>
