<h1 style="align-self: center;">Contact</h1>
<div style="text-align: center;">
<p>This website was made by Billy Bouchard and Simon Landry</p>
<p>For any comment or question you can message us at <a href="mailto:bolty-box@gmail.com" class="footer-button">bolty-box@gmail.com</a></p>
</div>
