<h1 style="align-self: center">Help</h1>

<h2>Using the website</h2>
<p>
  To use the file sharing, you can create a new folder and either make it public or private. A private directory is a directory
  that is shared only with people you choose; a public directory is a directory that is available to everyone on the application.
</p>
<p>
  You can submit files to a directory you own or that someone shared with you, but be careful of who you share your directories with
  because the space of the files they add is on your tab!
</p>
<p>
  Users start with 50GB of available space.
</p>
