// Place all the styles related to the Directories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.directory-index-container {
  border-radius: 10px;
  background-color: $directory-background-color;
  display: flex;
  flex-grow: 1;
  flex-flow: column wrap;
  width: 96%;
  margin: 5px auto;
  padding: 5px;
}

.directory-index-return {
  min-width: 11%;
  padding: 0.5%;
  margin: auto;
  line-height: 10px;
}

.directory-actions-links {
  @include directory-line;
  width: 97%;
}

.directory-button-text {
  margin-left: 10px;
}

.directory-index-show {
  border-radius: 10px;
  background-color: white;
  @include directory-line;
  width: 96%;
  padding: 0.5%;
}

.directory-index-show-icon {
  @include show-icon($directory-line-height,$icon-width);
}

.directory-index-show-icon-file {
  @include show-icon($file-line-height,$icon-width);
}

@mixin directory-index-show-info-container {
  display: flex;
  width: calc(100% - #{$icon-width});
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
}

.directory-index-show-info-container {
  @include directory-index-show-info-container;
  line-height: $directory-line-height;
}
.directory-index-show-info-container-file {
  @include directory-index-show-info-container;
  line-height: $file-line-height;
}

.directory-index-show-info {
  text-align: center;
  width: 30%;
  padding: 1px;
}

.directory-index-destroy-button {
  margin-left: auto;
  text-align: center;
  align-self: flex-end;
  width: fit-content;
  padding: 5px;
  border-radius: 10px;
  background-color: $secondary-color;
  &:hover {
    background-color: $secondary-color-dark;
  }
}

.directory-submit-line {
  font-size: 25px;
  @include row;
  justify-content: center;
  margin: 10px auto;
  text-align: center;
}

.directory-submit-name {
  @include label;
}

.directory-submit-textfield {
  @include textfield;
}

.directory-submit-back-button {
  align-self: flex-end;
  padding: 5px;
  font-size: 25px;
}

.padding-top-bot-min {
  padding-top: 1px;
  padding-bottom: 1px;
}

.line-inherit {
  line-height: inherit;
}

.linebreak {
  width: 100%;
}

.text-center {
  text-align: center;
}

.has-right-margin {
  margin-right: 15px !important;
}
