// Place all the styles related to the Directories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.directory-index-container {
  border-radius: 10px;
  background-color: $directory-background-color;
  @include column;
  flex-grow: 1;
  width: 96%;
  margin: 5px auto;
  padding: 5px;
}

.directory-index-return {
  min-width: 11%;
  padding: 0.5%;
  margin: auto;
  line-height: 10px;
}

.directory-links-line {
  @include directory-line;
  width: 98%;
}

.directory-button-text {
  margin-left: 10px;
}

.directory-index-line {
  @include directory-line;
  width: 96%;
  background-color: white;
  border-radius: 10px;
  padding: 0px 1%;
}

.directory-index-icon-directory {
  @include show-icon($directory-line-height);
}

.directory-index-icon-file {
  @include show-icon($file-line-height);
}

.directory-index-line-info {
  text-align: center;
  @include row;
  width: 30%;
  padding: 1px;
  margin: auto 0px;
}

.directory-index-destroy-button {
  margin-left: auto;
  align-self: flex-end;
  width: fit-content;
  padding: 5px;
}

.directory-submit-line {
  font-size: 25px;
  @include row;
  justify-content: center;
  margin: 10px auto;
  text-align: center;
}

.directory-submit-name {
  @include label;
}

.directory-submit-textfield {
  @include textfield;
}

.directory-submit-back-button {
  align-self: flex-end;
  padding: 5px;
  font-size: 25px;
}
