.session-logo-container {
  @include logo-container(40px);
  margin: 15px auto;
  box-shadow: 3px 3px 5px black;
}

.session-logo {
  @include logo(40px);
}

.session-container {
  @include column;
  justify-content: center;
  padding: 10px;
}

.session-line {
  @include row;
  padding: 5px;
}

.session-link {
  text-decoration: underline;
  color: black;

  &:hover {
    color: blue;
  }
}
