.session-logo-container {
  @include logo-container(40px);
  margin: 15px auto;
  box-shadow: 3px 3px 5px black;

}

.session-logo {
  @include logo(40px);
}

.session-container {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  justify-content: center;
  padding: 10px;
}

.session-line {
  display: inline-flex;
  justify-content: flex-start;
  align-content: center;
  padding: 5px;
}

.session-label {
  padding: 5px;
  width: 10%;
  text-align: left;
}

.session-field {
  width: 150px;
  border-radius: 10px;
}

.session-submit {
  background-color: $secondary-color;
  border-radius: 10px;
  &:hover {
    background-color: $secondary-color-dark;
  }
}
