.spacer {
  flex: 1;
}

.alignement-spacer {
  width: 40%;
}

.basic-button {
  background-color: $secondary-color;
  text-align: center;
  border-radius: 10px;
  padding: 2px 1%;
  &:hover {
    background-color: $secondary-color-dark;
  }
}

.line-inherit {
  line-height: inherit;
}

.linebreak {
  width: 100%;
}

.text-center {
  text-align: center;
}

.has-right-margin {
  margin-right: 15px !important;
}

.label {
  width: 100px;
  text-align: left;
}

.textfield {
  background-color: white;
  color: black;
  border-radius: 10px;
  width: 150px;
}
