@mixin logo($font-size) {
  font-family: 'Lobster Two', cursive;
  font-weight: 700;
  font-style: italic;
  text-decoration: none;
  white-space: nowrap;
  color: $primary-color;
  margin: auto 0;
  font-size: $font-size;
  padding-bottom: calc(#{$font-size} / 12);
}
@mixin logo-container($font-size) {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: $secondary-color;
  border-radius: 50%;
  text-decoration: none;
  padding: calc(#{$font-size} / 4) calc(#{$font-size} / 2);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@mixin column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-content: center;
}
@mixin row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-content: center;
}
@mixin align-side {
  margin-left: auto;
  margin-right: auto;
}
@mixin align-height {
  margin-top: auto;
  margin-bottom: auto;
}
@mixin basic-color {
  color: $secondary-color;
  background-color: $primary-color;
}
@mixin button-basic {
  background-color: $secondary-color-light;
  text-align: center;
  border-radius: 10px;
}
@mixin show-icon($font-size) {
  margin: auto 0;
  min-width: calc(#{$font-size} * 1.5);
  max-width: calc(#{$font-size} * 1.5);
  text-align: center;
  font-size: $font-size !important;
}
@mixin label {
  width: 100px;
  text-align: left;
}
@mixin textfield {
  background-color: white;
  color: black;
  border-radius: 10px;
  width: 150px;
}
@mixin directory-line {
  margin: 5px auto;
  @include row;
}
