* {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 3em;
  font-weight: bold;
}

h2 {
  font-size: 2em;
  font-weight: bold;
}

h3 {
  font-size: 1.8em;
  font-style: italic;
}

h4 {
  font-size: 1.6em;
  font-weight: bold;
}

@mixin header-font {
  font-size: 1.8em;
  font-weight: bold;
}
