//size
$header-height: 50px;
$directory-line-height: 40px;
$file-line-height: 20px;
$icon-width: 6%; //color
$primary-color: rgb(0, 130, 194);
$primary-color-light: rgb(0, 150, 224);
$primary-color-dark: rgb(0, 81, 121);
$secondary-color: #e3b14b;
$secondary-color-light: rgb(224, 150, 0);
$secondary-color-dark: rgb(158, 106, 0);
$directory-background-color: rgb(222, 222, 222); // MAIN ELEMENTS

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;

  &:visited {
    color: inherit;
  }

  &:hover {
    color: inherit;
  }
}

.spacer {
  flex: 1;
}

.alignement-spacer {
  width: 40%;
}

.basic-button {
  padding: 5px;
  background-color: $secondary-color;
  text-align: center;
  border-radius: 10px;
  &:hover {
    background-color: $secondary-color-dark;
  }
}
