//size
$header-height: 50px;
//color
$primary-color: rgb(0, 130, 194);
$primary-color-light: rgb(0, 150, 224);
$primary-color-dark: rgb(0, 81, 121);
$secondary-color: rgb(194, 130, 0);
$secondary-color-light: rgb(224, 150, 0);
$secondary-color-dark: rgb(158, 106, 0);
// MAIN ELEMENTS
html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  margin: 0;
}

a {
  text-decoration: none;

  &:visited {
    color: inherit;
  }

  &:hover {
    color: inherit;
  }
}
