<% if @directory.assets.any? %>
  <div class="directory-index-line">
    <div class="directory-index-icon-file"></div>
    <div class="spacer"></div>
    <div class="directory-index-line-info">
      Name
    </div>
    <div class="spacer"></div>
    <div class="directory-index-line-info">
      Size
    </div>
  </div>

  <% @directory.assets.each do |asset| %>
    <%= link_to download_asset_path(asset), class: "directory-index-line" do %>
      <%= fa_icon "file", class: "directory-index-icon-file" %>
      <div class="spacer"></div>
      <div class="directory-index-line-info">
        <%= asset.file_file_name %>
      </div>
      <div class="spacer"></div>
      <div class="directory-index-line-info">
        <%= number_to_human_size(asset.file_file_size) %>
      </div>
    <% end %>
  <% end %>
<% end %>
