.header {
  @include row;
  width: 100%;
  min-width: 360px;
  height: $header-height;
  background-color: $primary-color;
  color: $secondary-color;
}

.logo {
  @include logo(24px);
}

.logo-container {
  @include logo-container(24px);
  margin-right: 0px;
  @include align-height;
  margin-left: 10px;
  &:hover {
    box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
  }
}

.header-dropdown {
  @include column;
  width: 15%;
  padding-left: 2px;
}

.header-main-button {
  height: $header-height;
  line-height: $header-height;
  background-color: $primary-color;
  @include align-height;
  @include header-font;
  @include column;
  justify-content: center;
  width: $header-height;
  flex-shrink: 0;
  margin-right: 5px;
  align-self: flex-end;
  white-space: nowrap;
}

.menu-square {
  margin: 2px 0px;
  height: calc(#{$header-height} * 0.2);
  width: 100%;
  background-color: $secondary-color;
}

.header-menu-list {
  position: relative;
  @include column;
  display: none;
}

.header-button {
  height: $header-height;
  line-height: $header-height;
  @include basic-color;
  @include header-font;
  text-align: center;
  width: 100%;
  white-space: nowrap;
  &:hover {
    background-color: $primary-color-light;
    color: $secondary-color-light;
  }
}

.center {
  flex-grow: 1;
  @include column;
}

.footer {
  flex-shrink: 1;
  @include row;
  background-color: $primary-color;
}

.footer-button {
  margin: 2px 5px;
  color: $primary-color-dark;
  &:visited {
    color: $primary-color-dark;
  }

  &:hover {
    color: $primary-color-light;
  }
}

#notice {
  text-align: center;
  color: green;
  margin: 5px auto;
}
