<div class="footer">
  <%= link_to "Help", root_path, class: "footer-button" %>
  <%= link_to "About", root_path, class: "footer-button" %>
  <div class="spacer"></div>
  <%= link_to "Contacts", root_path, class: "footer-button" %>
</div>
