<div class="header">
  <%= link_to root_path, class: "logo-container header-logo-container" do %>
    <div class="logo header-logo">
      Bolty-Box
    </div>
  <% end %>
  <div class="spacer"></div>
  <%= link_to "Profile", root_path, class: "header-button" %>
  <%= link_to "My Files", root_path, class: "header-button" %>
  <%= link_to "Sharing", root_path, class: "header-button" %>
</div>
